<div class="container currentSelectedGrey">
  <div class="row">
    <div class="col-md-9">
      <div>
	<ul>
<br><strong>LightGala Startup</strong>

<br><br><strong>LightGala</strong> is a new software service over the web developed by <a href="http://optimow.net">Optimow Inc.</a> Optimow Inc provides an easy-to-use mobile estimator to contractors to help them quote the jobs very efficiently. Many contractors doing Christmas decoration during winter time use this mobile estimator yet they require a more fancy online decoration tool to demo to their potential customers the fancy "real effect" which plain words or descriptions would not deliver.
<br><br>
Hence the birth of LightGala. It is a platform for home owners or decoration professionals to decorate the house (or any site) online, they can then communicate through LightGala to exchange the decorated effect and proudly publish it to the general public or among their friends. 
<br><br>
For <strong>decoration professionals</strong>, LightGala is their most important marketing channel. As millions of homeowners are visiting LightGala for lighting decoration ideas, they are the potential customers of decoration professionals. LightGala also makes the estimating work very easy, it could count number of bulbs of each kind, measure distances, give an estimated dollar amount, and integrate with your quoting system like Optimow Mobile Estimator. Send an inquiry to spearsear@gmail.com for pricing if you are a decoration pro.
<br><br>
For <strong>homeowners</strong>, LightGala is a mini decoration game on line. At absolutely no cost, any homeowner can light up his or her house in virtual reality and share it among the friends and families, or even proudly publish to the world.
<br><br>
For <strong>lighting equipment suppliers</strong>, LightGala is the perfect choice for vendoring the fancy lighting gadgets to homeowners or decoration pros. By becoming authorized supplier of LightGala, your lighting gadgets will be listed in the LightGala widgets so everyone can try decorating their house (or site) using your gadgets.
<br><br>
To become an authorized supplier of LightGala, send an inquiry to spearsear@gmail.com
<br><br>
LightGala is made based on a belief that the holiday lighting industry needs a change to adapt to the new cyberspace. We think everyone should be able to enjoy the holiday lighting atmosphere regardless jis or her budget restriction. And for those has some money to spend, they can have easier access to and try at no cost the various latest and merriest lighting inventions they may not even know, such as animations effects and synchronized light shows. Decorating the house online alone is already a very fun and addicting game.
<br><br><strong>Who we are</strong>:
LightGala is made by Optimow Inc. Behind LightGala are thousands of hours of hardwork of our smart software engineers. We welcome your opinions and suggestions, and encourage you to <a href="/decor">give it a try.</a>
<br><br>
<!--	  <li>Stephen Spearsberg</li>-->
	</ul>
      </div>
      <div>
	<ul>
	Contact us: spearsear@gmail.com
	</ul>
      </div>
    </div>
    <div class="col-md-3">
      <div ads adname='ads_aboutus'></div>
      <!-- lighttube-aboutus -->
      <ins class="adsbygoogle"
	   style="display:inline-block;width:300px;height:600px"
	   data-ad-client="ca-pub-0546612549381053"
	   data-ad-slot="1900665231"></ins>
    </div>
  </div>
  <div>
</div>
